[webapi]
# Build results
src/webapi/[Dd]ebug/
src/webapi/[Dd]ebugPublic/
src/webapi/[Rr]elease/
src/webapi/[Rr]eleases/
src/webapi/x64/
src/webapi/x86/
src/webapi/build/
src/webapi/bld/
src/webapi/[Bb]in/
src/webapi/[Oo]bj/
src/webapi/msbuild.log
src/webapi/msbuild.err
src/webapi/msbuild.wrn

[function]
src/function/[Dd]ebug/
src/function/[Dd]ebugPublic/
src/function/[Rr]elease/
src/function/[Rr]eleases/
src/function/x64/
src/function/x86/
src/function/build/
src/function/bld/
src/function/[Bb]in/
src/function/[Oo]bj/
src/function/msbuild.log
src/function/msbuild.err
src/function/msbuild.wrn